

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 20px;
  line-height: 1.8em;
  
}

a {
  color: #1C9C94;
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-image: url('t1.jpeg');
  background-size: cover;
  background-position: fixed;
  color: black;
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

header img {
  border-radius: 50%;
  max-width: 150px;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
}

h3, h4 {
  font-weight: bold;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.fa {
  border: 1px solid black;
  border-radius: 50%;
  font-size: 2.5em;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fa {
  color: #1832de;
}

.c, .skills {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.c .title {
  color: #1832de;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.c .descrition {
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.c .descrition p {
  padding-left: 1em;
}

.skills .column {
  -ms-flex: 0 0 50%%;
  flex: 0 0 50%;
  max-width: 50%;
}
.skills .column h4{
    color:#1832de;

}

.skills .column ul, ul.job-description {
  list-style-type: none;
}

.skills .column ul > li:before {
  content: "►";
  padding-right: 0.5em;
  color: #509e98;
}



.job-title {
  color: #1832de;
  font-size: 25px;
}

ul.job-description li:before{
  padding-right: 0.5em;
  color: #509e98;
}

.s, .job-title {
  text-transform: capitalize;
}

.s span, .job-title span {
  color: #1832de;
  text-decoration: underline;
}
